snippet S "section" w
#--------------#	$1
endsnippet


snippet SS "subsection" w
###--------###
endsnippet



snippet SSS "subsubsection" w
#---------
endsnippet



snippet s "layer 1" w
################################################
###
################################################
endsnippet



snippet ss "layer 2" w
##
endsnippet

snippet DEF
###---DEF---###:
endsnippet
