snippet == "title" w
===============
$1
===============
$0
endsnippet



snippet S
###------$1------###$0
endsnippet




snippet SS
##------$1------##$0
endsnippet




snippet SSS
#------$1------#$0
endsnippet



snippet nn "" A
=================>>> Coefs not significant.
endsnippet


snippet l
_________________________________________________________________________________________
endsnippet
